/* Price Toggle Switch */
.switch {
  --a: 0.5s ease-out;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  height: 2em;
  border-radius: 2em;
  box-shadow: 0 0 0 0.66em hsl(var(--primary));
  aspect-ratio: 212.4992/84.4688;
  background-color: hsl(var(--primary));
  transition: all var(--a);
}

.switch:hover {
  box-shadow: 0 0 0 0.66em hsl(var(--primary) / 0.8);
}

/* Hide default HTML checkbox */
#check {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch svg {
  height: 100%;
}

.switch svg path {
  color: hsl(var(--primary-foreground));
  stroke-width: 16;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 136 224;
  transition:
    all var(--a),
    0s transform;
  transform-origin: center;
}

#check:checked ~ .switch {
  background-color: hsl(var(--accent));
  box-shadow: 0 0 0 0.66em hsl(var(--accent));
}

#check:checked ~ .switch:hover {
  box-shadow: 0 0 0 0.66em hsl(var(--accent) / 0.8);
}

#check:checked ~ .switch svg path {
  stroke-dashoffset: 180;
  transform: scaleY(-1);
}
